
@{
    ViewBag.Title = "EmployeeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Report</h2>

<div class="jumbotron"> crystal Report in Asp.net MVC 
</div>

<div>
    <button>Load Report </button>
</div>


